
$primary50: #f1ecfe;
$primary100: #d4c5fc;
$primary200: #b79ff9;
$primary300: #9a78f7;
$primary400: #784cf5;
$primary500: #602bf3;
$primary600: #480de7;
$primary700: #3c0bc1;
$primary800: #30099a;
$primary900: #240774;
$primary: $primary400;

$secondary: #60f4bf;

$accent300: #688ddf;
$accent400: #4674d8;
$accent500: #2959C2;
$accent600: #244ea6;

$surface: #121212;
$on-surface: #fff;
$on-primary: #fff;
