// Light Theme
$main-font: #393a42;
$dark-font: #121212;
$light-font: #6d6e77;

$primary500: #6734df;
$primary700: #4b27d0;
$primary800: #3820ca;
$primary: $primary500;
$on-primary: #fff;

$secondary200: #80cdec;
$secondary300: #53bae3;
$secondary400: #34acdf;
$secondary600: #1690cc;
$secondary: $secondary400;
$on-secondary: $main-font;

$accent300: #c960e5;
$accent400: #bd34df;
$accent500: #b000d8;
$accent: $accent400;
$on-accent: $main-font;

$link: #3456df;
$link-hover: #2243c7;

$surface: #121212;
$surface01:	#1e1e1e;
$surface02:	#232323;
$surface03:	#252525;
$surface04:	#272727;
$surface06:	#2c2c2c;
$surface08:	#2f2f2f;
$surface12:	#333333;
$surface16:	#353535;
$surface24:	#3a3a3a;

$on-surface: #ffffff;

$accent600: #244ea6;
