@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import './variables.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

input, select, textarea {
  margin: 0;
}

body {
  background-color: var(--surface01);
  color: var(--font-light);
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.8;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

ol, ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--link-dark);
  text-decoration: none;
  transition: color .2s;
}

a:hover {
  color: var(--link);
}

/* Carousel Custom Styles */
.carousel.carousel-slider .control-arrow.control-next,
.carousel.carousel-slider .control-arrow.control-prev {
  background: rgba(0,0,0,0.02);
  border-radius: 3px;
}

.carousel.carousel-slider .control-arrow.control-next::before {
  border-left: 8px solid #333 !important;
}

.carousel.carousel-slider .control-arrow.control-prev::before {
  border-right: 8px solid #333 !important;
}

.slide {
  align-items: center;
  display: flex;
  justify-content: center;
}
