@import '../../styles/colors.scss';
@import '../../components/styles/buttons.module.scss';

.success {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 30rem;
  padding: 12rem 0 0;
  text-align: center;

  p {
    margin-top: 2rem;
  }
}

.button {
  align-self: center;
  background-color: $primary;
  margin-top: 2rem;

  svg {
    margin-left: 1rem;
  }
}

@media (min-width: 769px) {
  
}