@import '../../styles/colors.scss';

.button {
  align-items: center;
  border: none;
  border-radius: .5rem;
  display: flex;
  font-size: 1.6rem;
  outline: none;
  padding: 1rem 2rem;
  text-decoration: none;
  transition: border-color .2s, color .2s, background-color .3s;

  svg {
    margin-right: .8rem;
  }

  &:hover {
    background-color: $primary;
    color: $font-light;
  }

  &:focus {
    box-shadow: 0 0 0 4px rgba(52, 172, 223, .3);
  }
}

.button-primary {
  @extend .button;
  background-color: $primary;
  color: $font-light;

  &:hover {
    background-color: darken($primary, 6%);
  }
}

.button-primary-active {
  @extend .button;
  background-color: $primary;
  color: $font-light;
}

.button-secondary {
  @extend .button;
  background-color: $primary-light;
  color: $font-dark;

  &:hover {
    background-color: darken($primary-light, 6%);
  }
}

.button-tertiary {
  @extend .button;
  background: none;
  border: 1px solid $primary-light;
  color: $font-light;
  padding: .6rem 1.2rem;

  &:hover {
    background-color: $primary-light;
    color: $font-dark
  }
}

.button-hero {
  @extend .button-primary;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%;

  svg {
    margin-left: 1.2rem;
    transition: transform .3s;
  }

  &:hover {    
    svg {
      transform: rotate(90deg);
    }
  }
}

.button-hero-secondary {
  @extend .button-hero;
  background: none;
  border: 1px solid $primary;

  &:hover {   
    color: darken($font-light, 32%); 
    background: none;
    border-color: darken($primary, 6%);
  }
}

@media (min-width: 451px) {
  .button-hero {
    margin: 0 1rem;
    width: auto;
  }
}

@media (min-width: 769px) {
  .button-hero {
    font-size: 2rem;
    margin: 0 2rem;
  }
}