@import '../../styles/colors.scss';

.button {
  border: none;
  border-radius: .5rem;
  font-size: 1.6rem;
  outline: none;
  padding: 1rem 2rem;
  text-decoration: none;
  transition: background-color .2s;

  &:hover {
    background-color: $primary;
  }
}

.button-primary {
  @extend .button;
  background-color: $primary;
  color: $on-primary;

  &:hover {
    background-color: $primary700;
  }
}

.button-primary-active {
  @extend .button;
  background-color: $primary;
  color: $on-primary;
}

.button-secondary {
  @extend .button;
  background-color: $on-primary;
  color: $dark-font;

  &:hover {
    background-color: $secondary100;
  }
}

.button-hero {
  @extend .button;
  align-items: center;
  background: none;
  border: 2px solid $on-surface;
  color: $on-surface;
  display: flex;
  font-size: 2rem;
  transition: border-color .2s, color .2s, background-color .3s;

  svg {
    margin-left: 1.2rem;
    transition: transform .3s;
  }

  &:hover {
    background-color: $primary;
    border-color: $primary;
    color: $on-primary;
    
    svg {
      transform: rotate(90deg);
    }
  }
}