@import '../../styles/colors.scss';

.button {
  align-items: center;
  border: none;
  border-radius: .5rem;
  display: flex;
  font-size: 1.6rem;
  outline: none;
  padding: 1rem 2rem;
  text-decoration: none;
  transition: background-color .2s, color .2s;

  svg {
    margin-right: .8rem;
  }

  &:hover {
    background-color: $primary;
  }

  &:focus {
    box-shadow: 0 0 0 4px rgba(52, 172, 223, .3);
  }
}

.button-primary {
  @extend .button;
  background-color: $primary;
  color: $font-light;

  &:hover {
    background-color: darken($primary, 6%);
  }
}

.button-primary-active {
  @extend .button;
  background-color: $primary;
  color: $font-light;
}

.button-secondary {
  @extend .button;
  background-color: $primary-light;
  color: $font-dark;

  &:hover {
    background-color: darken($primary-light, 6%);
  }
}

.button-tertiary {
  @extend .button;
  background: none;
  border: 1px solid $primary-light;
  color: $font-light;
  padding: .6rem 1.2rem;

  &:hover {
    background-color: $primary-light;
    color: $font-dark
  }
}

.button-hero {
  @extend .button;
  align-items: center;
  background: none;
  border: 2px solid $font-light;
  color: $font-light;
  display: flex;
  font-size: 2rem;
  transition: border-color .2s, color .2s, background-color .3s;

  svg {
    margin-left: 1.2rem;
    transition: transform .3s;
  }

  &:hover {
    background-color: $primary;
    border-color: $primary;
    color: $font-light;
    
    svg {
      transform: rotate(90deg);
    }
  }
}