@import '../../styles/colors.scss';

.footer {
  align-items: center;
  border-top: 1px solid $primary;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 8rem;

  a {
    color: $light-font;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    transition: color .2s;

    &:hover {
      color: $link-hover;
    }
  }
}

.links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;

  a {
    align-items: center;
    display: flex;
    padding: 1.2rem;

    svg {
      margin-right: 1.2rem;
    }
  }
}

.logo {
  margin-top: 4rem;
}

.copyright {
  margin-top: 4rem;
  padding-bottom: 2rem;
  text-align: center;
  width: 100%;
}

@media (min-width: 769px) {
  .links {
    margin-top: 6rem;
  
    a {
      padding: 1.2rem 3.2rem;
    }
  }
  
  .copyright {
    padding-bottom: 6rem;
  }
}
