.footer {
  align-items: center;
  border-top: 1px solid var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 8rem;
}

.footer a {
  color: var(--font-light);
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  transition: color .2s;
}

.footer a:hover {
  color: var(--link-dark);
}

.links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
}

.links a {
  align-items: center;
  display: flex;
  padding: 1.2rem;
}

.links a svg {
  margin-right: 1.2rem;
}

.logo {
  margin-top: 4rem;
}

.copyright {
  margin-top: 4rem;
  padding-bottom: 2rem;
  text-align: center;
  width: 100%;
}

@media (min-width: 769px) {
  .links {
    margin-top: 6rem;
  }
  
  .links a {
    padding: 1.2rem 3.2rem;
  }
  
  .copyright {
    padding-bottom: 6rem;
  }
}
