@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.header-wrapper {
  background-color: var(--surface01);
  box-shadow: 0 2px 8px 1px rgba(0,0,0,.2);
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
}

.title {
  align-items: center;
  color: var(--font-light);
  display: flex;
  font-family: 'PT Sans', 'Raleway', Helvetica, sans-serif;
  font-size: 2.4rem;
  text-decoration: none;
}

.title :hover {
  color: darken(var(--font-light), 12%);
}

.title img {
  margin-right: 1.6rem;
  width: 50px;
}

.title span {
  display: none;
}

.nav {
  display: flex;
}

.nav-item {
  color: var(--font-light);
  font-size: 1.3rem;
  margin-left: .4rem;
  padding: .4rem .6rem;
}

.nav-item:hover {
  background-color: var(--primary);
  color: var(--font-light);
}

.active-nav-item {
  background-color: var(--primary);
  color: var(--font-light);
}

.icon {
  font-size: 2.4rem;
  margin-left: 1rem;
}

@media (min-width: 451px) {
  .nav {
    display: flex;
  }

  .nav-item {
    font-size: 1.6rem;
    margin-left: .6rem;
    padding: .6rem 1.6rem;
  }
}

@media (min-width: 769px) {
  .title span {
    display: inline;
  }

  .nav-item {
    margin-left: .8rem;
    padding: 1rem 2rem;
  }
}
