@import '../../styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.header-wrapper {
  background-color: $surface02;
  box-shadow: 0 2px 8px 1px rgba(0,0,0,.2);
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
}

.title {
  align-items: center;
  color: $on-primary;
  display: flex;
  font-family: 'PT Sans', 'Raleway', Helvetica, sans-serif;
  font-size: 2.4rem;
  text-decoration: none;

  img {
    margin-right: 1.6rem;
    width: 50px;
  }
  
  span {
    display: none;
  }

  &:hover {
    color: darken($on-primary, 12%);
  }
}

.nav {
  display: flex;
}

.nav-item {
  color: $on-primary;
  font-size: 1.4rem;
  margin-left: .4rem;
  padding: .4rem 1rem;

  &:hover {
    background-color: $primary;
    color: $on-primary;
  }
}

.active-nav-item {
  background-color: $primary;
  color: $on-primary;
}

@media (min-width: 451px) {
  .nav {
    display: flex;
  }

  .nav-item {
    font-size: 1.6rem;
    margin-left: .6rem;
    padding: .6rem 1.6rem;
  }
}

@media (min-width: 769px) {
  .title {
    span {
      display: inline;
    }
  }

  .nav-item {
    margin-left: .8rem;
    padding: 1rem 2rem;
  }
}
