@import '../../styles/colors.scss';

.header-wrapper {
  background-color: $surface02;
  // box-shadow: 0 3px 3px lighten($surface-nav, 2%);
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header {
  align-items: center;
  display: flex;
  height: 6.4rem;
  justify-content: space-between;
  margin: 0 -2rem;
}

.title {
  align-items: center;
  color: $on-primary;
  display: flex;
}

.title img {
  width: 32px;
}

.nav {
  display: none;
  justify-content: space-evenly;
  margin-left: 1.6rem;
}

.nav-item {
  color: $on-primary;
  margin-left: .4rem;
  padding: .4rem 1rem;
}

.title:hover, .nav-item:hover {
  background-color: $primary;
  color: $on-primary;
}

.active-nav-item {
  background-color: $primary;
  color: $on-primary;
}

@media (min-width: 451px) {
  .nav {
    display: flex;
  }

  .nav-item {
    margin-left: .6rem;
    padding: .6rem 1.6rem;
  }
}

@media (min-width: 769px) {
  .nav-item {
    margin-left: .8rem;
    padding: 1rem 2rem;
  }
}
