@import '../../styles/colors.scss';

.projects-wrapper {
  background-color: $primary;
  color: $on-primary;
  padding: 12rem 0 8rem;
  width: 100%;
}

.projects {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4rem;
  width: 100%;

  a.info {
    align-items: flex-start;
    color: $on-primary;
    display: flex;
    flex-direction: column;
    padding-bottom: .6rem;
    text-decoration: none;

    h6 {
      align-items: center;
      display: flex;
      font-size: 2rem;
      padding-bottom: .8rem;

      svg {
        font-size: 3.6rem;
        margin-right: 1.2rem;
      }
    }

    span {
      font-size: 1.8rem;
    }

    &:hover {
      color: $secondary200;
    }
  }

  .source {
    flex-shrink: 0;
    margin-top: 2rem;
  }

}

.header {
  grid-area: header;
  text-align: center;

  h2 {
    font-size: 3.2rem;
  }

  .hr {
    background-color: $on-primary;
    height: .2rem;
    margin: 2rem auto 0;
    width: 6rem;
  }
}

@media (min-width: 451px) {
  
}

@media (min-width: 769px) {
  .header {
    h2 {
      font-size: 4.8rem;
    }
  }
  
  .project {
    align-items: center;
    flex-direction: row;
    margin-top: 3.2rem;

    .info {
      a {
        padding-bottom: 1.2rem;
      }
    }

    .source {
      margin-top: 0;
      margin-left: 4rem;
      text-align: right;
    }
  }
}

