@import '../../styles/colors.scss';
@import './buttons.module.scss';

.projects-wrapper {
  background-color: $surface02;
  color: $font-light;
  padding: 2rem 0 8rem;
  width: 100%;
}

.header {
  margin-top: 4rem;
}

.works {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 3.2rem;
}

.work {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.4), 0 0 0 1px rgba(10,10,10,.02);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto 4rem;
  max-width: 60rem;
  padding: 1.5rem;
  transition: transform .2s;

  img {
    border-radius: 3px;
    box-shadow: 0 2px 1em -.125em rgba(10,10,10,.1);
    width: 100%;
  }

  .work-content {
    color: #121212;
    font-size: 1.6rem;
    margin-top: 1rem;
    text-align: center;

    h3 {
      font-weight: 600;
      margin: 1.2rem 0;
    }
  
    p {
      margin-bottom: 1rem;
    }
  
    a {
      align-items: center;
      display: flex;
      text-decoration: none;

      svg {
        font-size: 1.4rem;
        margin: 0 0 .2rem 1rem;
      }
  
      &:hover {
        color: $secondary-light;
      }
    }
  }

  &:hover {
    transform: scale(1.05);
  }

  &:focus {
    box-shadow: 0 0 0 4px rgba(52, 172, 223, .3);
    transform: scale(1.05);
  }

}

.projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 3.2rem;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4rem;
  width: 100%;

  .description {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-bottom: .6rem;
    text-decoration: none;

    h4 {
      align-items: center;
      display: flex;
      font-size: 2rem;
      padding-bottom: .8rem;

      svg {
        font-size: 3.6rem;
        margin-right: 1.2rem;
      }
    }

    span {
      font-size: 1.8rem;
    }
  }

  .links {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin-top: 2rem;

    a {
      margin-right: 2rem;
    }
  }

}

.header {
  grid-area: header;
  text-align: center;

  h2 {
    font-size: 3.2rem;
  }

  .hr {
    background-color: $font-light;
    height: .2rem;
    margin: 2rem auto 0;
    width: 6rem;
  }
}

@media (min-width: 451px) {
  .projects-wrapper {
    padding-top: 4rem
  }

  .work {
    margin-bottom: 6rem;
  }
}

@media (min-width: 769px) {
  .projects-wrapper {
    padding-top: 6rem
  }

  .header {
    h2 {
      font-size: 4.8rem;
    }
  }
  
  .works {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .work {
    margin-bottom: 2rem;
    width: 30%;
  }
  
  .project {
    align-items: center;
    flex-direction: row;
    margin-top: 3.2rem;

    .description {
      a {
        padding-bottom: 1.2rem;
      }
    }

    .links {
      margin-top: 0;
      margin-left: 4rem;
      text-align: right;

      a {
        margin-left: 1.2rem;
      }
    }
  }
}

@media (min-width: 1280px) {
  .projects-wrapper {
    padding-top: 12rem
  }
}

