@import '../../styles/colors.scss';
@import './buttons.module.scss';

.projects-wrapper {
  background-color: $primary;
  color: $on-primary;
  padding: 2rem 0 8rem;
  width: 100%;
}

.works {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 3.2rem;
}

.work {
  background-repeat: no-repeat;
  border-radius: 10px;
  display: block;
  height: 165px;
  margin-bottom: 2.4rem;
  outline: none;
  position: relative;
  width: 80%;
  width: 280px;

  .work-overlay {
    align-items: center;
    background: rgba(18, 18, 18, .7);
    border-radius: 10px;
    color: $surface;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    padding: 2rem;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    transition: background .2s;

    .work-name {
      font-size: 3rem;
      font-weight: 600;
    }

    .work-desc {
      font-size: 1.6rem;
      font-weight: 500;
      margin-top: 1.2rem;
      opacity: 0;
      transition: opacity .2s;
    }

    .site-button {
      @extend .button-secondary;
      background-color: $surface;
      display: none;
      margin-top: 1.2rem;
      opacity: 0;
      transition: opacity .2s;

      &:hover {
        background-color: $surface;
      }
    }
  }
    
  &:hover {
    .work-overlay{
      background: rgba(0, 79, 133, .8);
      
      .site-button,
      .work-desc {
        opacity: 1;
      }
    }
  }

}

.projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 3.2rem;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4rem;
  width: 100%;

  a.info {
    align-items: flex-start;
    color: $on-primary;
    display: flex;
    flex-direction: column;
    padding-bottom: .6rem;
    text-decoration: none;

    h4 {
      align-items: center;
      display: flex;
      font-size: 2rem;
      padding-bottom: .8rem;

      svg {
        font-size: 3.6rem;
        margin-right: 1.2rem;
      }
    }

    span {
      font-size: 1.8rem;
    }

    &:hover {
      color: $secondary200;
    }
  }

  .source {
    flex-shrink: 0;
    margin-top: 2rem;
  }

}

.header {
  grid-area: header;
  text-align: center;

  h2 {
    font-size: 3.2rem;
  }

  .hr {
    background-color: $on-primary;
    height: .2rem;
    margin: 2rem auto 0;
    width: 6rem;
  }
}

@media (min-width: 451px) {
  .projects-wrapper {
    padding-top: 4rem
  }
  
  .works {
    flex-direction: row;
    justify-content: center;
  }

  .work {
    height: 236px;
    margin: 0 1.2rem 2.4rem;
    width: 400px;

    .work-overlay .site-button {
      display: block;
    }
  }
}

@media (min-width: 769px) {
  .projects-wrapper {
    padding-top: 6rem
  }

  .header {
    h2 {
      font-size: 4.8rem;
    }
  }

  // .work {
  //   height: 177px;
  //   width: 300px;
  // }
  
  .project {
    align-items: center;
    flex-direction: row;
    margin-top: 3.2rem;

    .info {
      a {
        padding-bottom: 1.2rem;
      }
    }

    .source {
      margin-top: 0;
      margin-left: 4rem;
      text-align: right;
    }
  }
}

@media (min-width: 1280px) {
  .projects-wrapper {
    padding-top: 12rem
  }
}

