@import '../../../styles/colors.scss';

.banner {
  background-color: $primary;
  margin-top: 4rem;
  padding: 4rem 0;

  h4 {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 1rem;
  }

  ul {
    list-style-type: disc;
    margin-left: 3rem;
  }
}

.title, .subtitle {
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 3.2rem;
}

.subtitle {
  font-size: 1.6rem;
  margin-top: 2rem;
}

.columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.column {
  padding: 2rem;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .banner {
    margin-top: 6rem;
    padding: 6rem 0;
  }

  .title {
    font-size: 4rem;
  }
  
  .subtitle {
    font-size: 2rem;
  }

  .columns {
    flex-direction: row;
    margin: 2rem auto 0;
    max-width: 100rem;
  }

  .column {
    width: 50%;
  }
}
